@page 
@model MyPro.Presentation.Areas.Administrator.Pages.ProjectManagement.List
@{

}


 <div class="card">
        <div class="card-header">
            <h3 class="float-left">Project List</h3>
            <div class="float-right">
                <a class="btn btn-success" asp-page="./Create" asp-area="Administrator">Add New</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>CreationDate</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ProjectViewModels)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Title</td>
                            <td>
                                @if (item.IsDeleted)
                                {
                                    <p>Deleted</p>
                                }
                                else
                                {
                                    <p>Exist</p>
                                }
                            </td>
                            <td>@item.CreationDate</td>
                            <td>
                                <a class="btn btn-warning float-left mr-3" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                                @if (item.IsDeleted)
                                {
                                    <form method="post" asp-page-handler="Activate" class="float-left">
                                        <button class="btn btn-success">Activate</button>
                                        <input type="hidden" name="id" value="@item.Id" />
                                    </form>
                                }
                                else
                                {
                                    <form method="post" asp-page-handler="Remove" class="float-left">
                                        <button class="btn btn-danger">Remove</button>
                                        <input type="hidden" name="id" value="@item.Id" />
                                    </form>
                                }
                            </td>
                        </tr>
                    }